@tailwind base; 
@tailwind components; 

html{
    font-size: 62.5%
}

body{
    @apply
    flex
    flex-col
    items-center
    h-screen
    tracking-widest
    font-Zen


}

header {
    @apply
    w-full
    max-w-screen-lg


    flex
    justify-between
}

.header_img{
    @apply
    h-28
}

.header_title{
    @apply
    text-center
    mt-2.5
    text-6xl
    font-bold

    
}
main {
    @apply
    w-full
    max-w-screen-lg
    flex
    flex-col
    gap-1
    bg-cloud

    px-8
}

label{
    @apply
    cursor-pointer
}

/*Secciones*/

.seccion{
    @apply
    mt-20
}
.seccion_title{
    @apply
    text-5xl
    text-center
}

/*Generos*/

.genero_options{
    @apply
    flex
    justify-around
    mt-7
}

input[name="genero"]{
    @apply
    hidden
}
input[name="genero"] + label{
    @apply
    w-[7.6rem]
    h-[7.6rem]
    block
    bg-cover
    filter
     
}

.label_genero_hombre{
    @apply
    bg-bebe-hombre
}
.label_genero_neutro{
    @apply
    bg-bebe-neutro    
}
.label_genero_mujer{
    @apply
    bg-bebe-mujer
}

input[name="genero"]:checked + label{
    width: 11.4rem;
    height: 11.4rem;  

    
}
input[name="genero"]:checked + label:after{
    content:"👇";

    @apply
    text-4xl  
}


/*Pais*/
.pais_options{
    @apply
    flex
    justify-around
    mt-7
}

input[name="pais"]{
    @apply
    hidden
}

input[name="pais"] + label{
    @apply
    w-[4.8rem]
    h-[4.8rem]
    block
    bg-cover
    filter
}

label[for="peru"]{
    @apply
    bg-peru

}
label[for="francia"]{
    @apply
    bg-francia
}
label[for="alemania"]{
    @apply
    bg-alemania
}

input[name="pais"]:checked + label{
    width: 7rem;
    height: 7rem;  
}

input[name="pais"]:checked + label:after{
    content:"👇";

    @apply
    text-4xl

}



/*Contidad*/
.cantidad_options{
    @apply
    flex
    justify-around
    mt-7
}

input[name="cantidad"]{
    @apply
    hidden
}

input[name="cantidad"] + label{
    @apply
    text-3xl
    bg-[#684571]
    px-7
    pt-2
    rounded-2xl
    text-purple-50
}

/* input[name="cantidad"] + label[for="todas"]{
    @apply
    bg-[#FF4B55]
    text-red-50

} */

input[name="cantidad"]:checked + label{
    @apply
    bg-[#B8009A]
}

input[name="cantidad"]:checked + label:after{
    content: "💡";
        
}

/*Footer*/
footer {
    @apply
    w-full
    max-w-screen-lg

    mt-auto
    flex
    justify-center
    pt-10
}

button{
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

button{
    @apply
    p-5
    pb-2
    text-6xl
    bg-[#B8009A]
    text-purple-50


    transform
    duration-300
    active:translate-y-1
}



@tailwind utilities;